@use "base/mixins" as m;
.paginador {
    display: flex;
    flex-direction: column;
  @include m.tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  & button {
    margin: 0 0 1rem 0;
  }
}
